<template>
  <div class="hello" v-on:keydown.space="start()" v-on:keyup.space="stop()">
    <div class="params">
      <select v-model="osc.form" v-on:change="restart">
        <option v-for="(form, i) in waves" :key="i" :value="form">{{ form }}</option>
      </select>
      <label>Volume</label>
      <input
        type="range"
        v-model.number="osc.volume"
        v-on:change="restart"
        max="1" min="0"
        step="0.01">
      <label>Frequency</label>
      <input
        type="range"
        v-model.number="osc.freq"
        v-on:change="restart"
        max="1000" min="100"
        step="1">
      <label>Delay</label>
      <input
        type="range"
        v-model.number="osc.delayTime"
        v-on:change="restart"
        max="1" min="0"
        step="0.1">
    </div>
    <div class="infos">
      <p>Form: {{ osc.form }} wave</p>
      <p>Volume: {{ osc.volume }}</p>
      <p>Frequency: {{ osc.freq }}MHz</p>
      <p>Delay: {{ osc.delayTime }}</p>
    </div>
    <div class="actions">
      <button v-on:mousedown="play()" v-on:mouseup="stop()">Play</button>
      <small>or press space</small>
    </div>
  </div>
</template>

<script>
export default {
  name: 'HelloWorld',
  data () {
    return {
      playing: false,
      waves: ['sine', 'square', 'sawtooth', 'triangle'],
      ctx: new AudioContext(),
      osc: {
        freq: 500,
        form: 'sawtooth',
        node: null,
        gain: null,
        volume: 0.3,
        delay: null,
        delayTime: 0.5
      }
    }
  },
  methods: {
    getValues () {
      this.osc.delay.delayTime.value = this.osc.delayTime
      this.osc.gain.gain.value = this.osc.volume
      this.osc.node.frequency.value = this.osc.freq
      this.osc.node.type = this.osc.form
    },
    play () {
      this.playing = true
      this.init()
      this.getValues()
      this.osc.node.start()
    },
    stop () {
      this.playing = false
      if (this.osc.node) {
        this.osc.node.stop()
      }
    },
    restart () {
      if (this.playing) {
        this.stop()
        this.play()
      }
    },
    init () {
      // Osc
      this.osc.node = this.ctx.createOscillator()

      // Delay
      this.osc.delay = this.ctx.createDelay()

      // Gain
      this.osc.gain = this.ctx.createGain()

      // Connecting shits together
      this.osc.delay.connect(this.osc.gain)
      this.osc.gain.connect(this.osc.delay)
      this.osc.node.connect(this.osc.delay)

      // Outputting on speakers
      this.osc.node.connect(this.ctx.destination)
      this.osc.delay.connect(this.ctx.destination)
    }
  },
  mounted () {
    document.addEventListener('keydown', event => {
      if (event.code === 'Space' && !this.playing) this.play()
    })

    document.addEventListener('keyup', event => {
      if (event.code === 'Space') this.stop()
    })
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
